name: whatsmocking
description: WhatsApp Mockup for testing Webhooks in your local environment.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  dio: ^5.4.0
  provider: ^6.1.1
  cupertino_icons: ^1.0.6
  crypto: ^3.0.3
  flutter_dotenv: ^5.1.0
  shelf: ^1.4.0
  shelf_router: ^1.1.4
  shared_preferences: ^2.2.2
  intl: ^0.19.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true
  assets:
    - .env
